<h4 class="text-grey text-print">Liste de projets</h4>
<div class="row m-0 p-0">
  <div class="col-4 h-100 align-items-lg-stretch m-0 ps-2 pe-0">
    <app-show-projet [valeur]="15"></app-show-projet>
  </div>
  <div class="col-4 h-100 align-items-lg-stretch m-0 ps-2 pe-0">
    <app-show-projet [valeur]="21"></app-show-projet>
  </div>
  <div class="col-4 h-100 align-items-lg-stretch m-0 ps-2 pe-0">
    <app-show-projet [valeur]="12"></app-show-projet>
  </div>
  <div class="col-4 h-100 align-items-lg-stretch m-0 ps-2 pe-0">
    <app-show-projet [valeur]="15"></app-show-projet>
  </div>
  <div class="col-4 h-100 align-items-lg-stretch m-0 ps-2 pe-0">
    <app-show-projet [valeur]="65"></app-show-projet>
  </div>
  <div class="col-4 h-100 align-items-lg-stretch m-0 ps-2 pe-0">
    <app-show-projet [valeur]="98"></app-show-projet>
  </div>
  <div class="col-4 h-100 align-items-lg-stretch m-0 ps-2 pe-0">
    <app-show-projet [valeur]="96"></app-show-projet>
  </div>
  <div class="col-4 h-100 align-items-lg-stretch m-0 ps-2 pe-0">
    <app-show-projet [valeur]="56"></app-show-projet>
  </div>
  <div class="col-4 h-100 align-items-lg-stretch m-0 ps-2 pe-0">
    <app-show-projet [valeur]="24"></app-show-projet>
  </div>
</div>
<div class="w-100 p-2 d-inline-flex justify-content-end">
  <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
</div>
