<div>
    <h2>Modifier la Catégorie de Véhicule</h2>
    <form [formGroup]="categorieForm" (ngSubmit)="updateCategory()">
      <div>
        <label for="nom">Nom de la catégorie</label>
        <input id="nom" formControlName="nom" placeholder="Nom de la catégorie" />
      </div>
  
      <div>
        <label for="description">Description de la catégorie</label>
        <textarea id="description" formControlName="description" placeholder="Description de la catégorie"></textarea>
      </div>
  
      <button type="submit" [disabled]="categorieForm.invalid">Mettre à jour</button>
    </form>
  </div>
  