<!-- ajout-categorie.component.html -->
<div>
    <h2>Liste des Catégories</h2>
    <ul>
      <li *ngFor="let categorie of categories">
        {{ categorie.nomCategorie }}
        <button (click)="deleteCategory(categorie._id)">Supprimer</button>
        <button (click)="editCategory(categorie._id)">Modifier</button>
      </li>
    </ul>
  
    <h3>Ajouter une nouvelle catégorie</h3>
    <form [formGroup]="categorieForm" (ngSubmit)="onSubmit()">
      <input formControlName="nomCategorie" placeholder="Nom de la catégorie" />
      <button type="submit">Ajouter</button>
    </form>
  </div>
  