<div class="mx-2 h-100">
    <div class="w-100">
        <h4 class="ms-3 mt-2 text-start text-print">Decrire votre problème pour le vehicule <span (click)="showModal()" nz-tooltip nzTooltipTitle="Cliquez ici pour changer le vehicule" nzTooltipPlacement="right" [nzTooltipColor]="'#2db7f5'" class="fw-bold text-info cursor-pointer">{{vehiculeSelected?.immatriculation}}</span>.</h4>
    </div>
</div>
<nz-modal [(nzVisible)]="isVisible" [nzFooter]="null" nzTitle="Liste de vos Vehicules" [nzMaskClosable]="false" [nzClosable]="false">
  <div *nzModalContent class="m-0 p-0 w-100">
    <nz-table #sortTable [nzData]="listVehicule" [nzBordered]="true" [nzLoading]="loading" [nzShowPagination]="false">
      <thead>
      <tr>
        <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare ? column.compare : null" [nzSortPriority]="column.priority">
          {{ column.title }}
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr class="cursor-pointer" *ngFor="let data of listVehicule">
        <td>{{ data.immatriculation }}</td>
        <td>{{ data.categorie.nom }}</td>
        <td>ito no kitihana</td>
      </tr>
      </tbody>
    </nz-table>

  </div>
<!--  <div *nzModalFooter>-->
<!--    <button nz-button nzType="default" (click)="handleCancel()">Custom Callback</button>-->
<!--    <button nz-button nzType="primary" (click)="handleOk()" >Custom Submit</button>-->
<!--  </div>-->
</nz-modal>
