.w-50-1rem{
  width: calc(50% - 1rem);
}
.border-purple{
  color: purple;
  border: 1px solid rgba(128, 0, 128, 0.2);
}
.border-purple-active{
  color: #00ffea;
  background-color: purple;
  font-weight: bolder;
}
.hover-element{
  transition: 300ms transform ease-in-out;
}
.hover-element:hover{
  transform: translateY(-3px);
}
.color-purple{
  color: purple !important;
}
