<nz-table class="mb-0" [nzNoResult]="'Aucune donnée disponible'" #sortTable [nzData]="listVehicule" [nzBordered]="false" [nzLoading]="loading" [nzShowPagination]="false">
  <thead>
  <tr>
    <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">
      {{ column.title }}
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr  class="cursor-pointer" *ngFor="let data of listVehicule">
    <td>{{ data.immatriculation }}</td>
    <td>{{ data.categorie.nom }}</td>
    <td>
      <i *ngIf="!listDeletedVehicule.has(data._id)" (click)="deleteVehicule(data)" class="fa fa-trash text-danger cursor-pointer"></i>
      <nz-icon *ngIf="listDeletedVehicule.has(data._id)" class="text-danger" nzType="loading"></nz-icon>
    </td>
  </tr>
  <tr class="border-0">
    <td colspan="3" class="border-0">
      <div class="d-inline-flex justify-content-end w-100">
        <span (click)="showModal()" class="color-bleu bg-primary-subtle py-2 px-3 rounded-3 hover-element cursor-pointer d-block w-max"><i class="fa fa-add me-1 "></i> Ajouter Vehicule</span>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-modal *ngIf="isVisible" [(nzVisible)]="isVisible" [nzFooter]="modalFooter"  nzTitle="Ajout de Vehicules" (nzOnCancel)="hideModal()" [nzMaskClosable]="true" [nzClosable]="true">
  <div *nzModalContent class="m-0 p-0 w-100">
      <div class="mb-3">
        <label for="mat" class="form-label">Immatriculation</label>
        <input type="text" [(ngModel)]="newCat.immatriculation" autocomplete="off" class="form-control rounded-1" id="mat">
      </div>
      <div class="">
        <label for="cat" class="form-label">Categorie</label>
        <nz-select [(ngModel)]="newCat.categorie" class="form-select rounded-3"  nzSize="large" id="cat" [nzLoading]="allCategorie.length===0">
          <nz-option *ngFor="let categorie of allCategorie" [nzValue]="categorie" [nzLabel]="categorie.nom"></nz-option>
        </nz-select>
      </div>
  </div>
  <ng-template #modalFooter>
    <button nz-button nzType="default" nzDanger class="rounded-3 hover-element" (click)="hideModal()">Annuler</button>
    <button nz-button nzType="primary" class="rounded-3 hover-element" [nzLoading]="loadingInsert" (click)="submit()">Ajouter</button>
  </ng-template>
</nz-modal>
