<div class="vh-100 vw-100 bg-garage d-flex justify-content-center align-items-center">
    <div class="h-75 w-60 border border-2 shadow-lg rounded-3 bg-white overflow-hidden">
        <div class="row w-100 h-100 m-0 p-0">
            <div class="col-6 h-100 bg-info position-relative rounded-end-7 d-flex flex-column justify-content-center align-items-center">
                <h2 class="text-center">ESPACE CLIENT</h2>
                <div class="mt-3 text-center text-white text-print fs-6">
                    Pour le suivi et contact avec un responsable, confirmez-vous avec votre login
                </div>
              <a routerLink="/inscription" class="btn btn-light btn-sm hover-element position-absolute mb-3 bottom-0">S'inscrire ici</a>
            </div>
            <div class="col-6 h-100 d-flex flex-column justify-content-center align-items-center">
                <h3 class="mb-4">Login</h3>
                <div class="w-100 d-flex flex-column justify-content-center">
                    <div class="form-group mb-3 w-100 px-2">
                        <label class="mb-1 fs-6" for="exampleInputEmail1">Email address</label>
                        <input type="email" [(ngModel)]="user.email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <div class="form-group mb-3 w-100 px-2">
                        <label class="mb-1 fs-6" for="exampleInputPassword1">Password</label>
                        <input type="password" [(ngModel)]="user.password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="button" (click)="onSubmit()" class="btn btn-primary">Se connecter</button>
                </div>
            </div>
        </div>
    </div>
</div>
