.bg-garage {
  background: url('/assets/img/garage-bg.jpg') no-repeat center center/cover;
}
.w-60{
  width: 60% !important;
}
.rounded-end-7{
  border-bottom-right-radius: 30%;
  border-top-right-radius: 30%;
}
.rounded-start-7{
  border-bottom-left-radius: 30%;
  border-top-left-radius: 30%;
}
