<div class="vh-100 vw-100 p-0 m-0 overflow-x-hidden bg-danger d-flex">
    <div class="width-20 h-100 m-0 p-0 position-fixed top-0 bg-body shadow-lg position-relative">
        <div class="w-100 p-3 position-absolute top-0 d-flex justify-content-center bg-body shadow-lg">
          <img src="assets/img/logo.png" alt="logo" class="rounded-3" width="121" height="100">
        </div>
        <div class="position-absolute top-125 w-100">
            <div class="d-flex flex-column align-items-center fs-5 text-print justify-content-center py-3 cursor-pointer hover-element mb-2 slide-element">
                <i class="fa fa-dashboard"></i>
                <span class="d-block mt-1">Dashboard</span>
            </div>

            <div class="d-flex flex-column align-items-center fs-5 text-print justify-content-center py-3 cursor-pointer hover-element mb-2 slide-element">
                <i class="fa fa-dashboard"></i>
                <span class="d-block mt-1">Mes Services</span>
            </div>

            <div class="d-flex flex-column align-items-center fs-5 text-print justify-content-center py-3 cursor-pointer hover-element mb-2 slide-element">
                <i class="fa fa-dashboard"></i>
                <span class="d-block mt-1">Mes Factures</span>
            </div>
        </div>
        <div class="position-absolute bottom-0 w-100">
            <div class="d-flex flex-column align-items-center fs-6 text-print justify-content-center bg-danger cursor-pointer py-3 text-white">
              <i class="fa fa-dashboard"></i>
              <span class="d-block mt-1">Se Deconnecter</span>
            </div>
        </div>
    </div>
    <div class="width-80 m-0 p-0 bg-primary d-flex flex-column h-100 ms-auto">
        <div>
          contenu de header
        </div>
        <div class="flex-grow-1">
          contenu du menu
        </div>
        <div class="mt-auto bg-white shadow-lg">
            <app-footer-element></app-footer-element>
        </div>
    </div>
</div>
