.slidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  overflow: hidden;
  transition: width 0.3s ease;
}

.slidebar.expanded {
  width: 300px; /* ou la largeur souhaitée lorsqu'il est expandé */
}

.slidebar .header {
  padding: 10px;
  background-color: #444;
}

.slidebar .outer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slidebar .outer ul li {
  padding: 15px;
}

.slidebar .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #444;
}
