<h2>Menu Admin</h2>

<nav>
  <ul>
    <li><a [routerLink]="'/services'">Services</a></li>
    <li><a [routerLink]="'/ajout-mecanicien'">Mécaniciens</a></li>
    <li><a [routerLink]="'/categories'">Catégories d'articles</a></li>
    <li><a [routerLink]="'/articles'">Articles</a></li>
    <li><a [routerLink]="'/stocks'">Stock</a></li>
    <li><a [routerLink]="'/categorie-vehicules'">Categorie de vehicule</a></li>
    <li><a [routerLink]="'/liste-services-details'">Détails des services</a></li>
    <li><a [routerLink]="'/rendezVousEnattente'">Rendez vous en attente de date</a></li>
    <li><a [routerLink]="'/rendezVousValides'">Rendez vous valider</a></li>
    <li><a [routerLink]="'/rendezVousNow'">Rendez-vous en cours</a></li>
    <li><a [routerLink]="'/planning'">Planning</a></li>
    <li><a [routerLink]="'/benefice-annuel'">Benefice</a></li>

  
  </ul>
</nav>
