<div class="vh-100 vw-100 p-0 m-0 overflow-x-hidden d-flex">
  <!-- Menu -->
  <div class="width-20 h-100 m-0 p-0 position-fixed top-0 bg-body shadow-lg position-relative">
    <div class="w-100 p-3 position-absolute top-0 d-flex rounded-3 justify-content-center bg-body shadow-lg">
      <img src="assets/img/logo.png" alt="logo" class="rounded-3" width="121" height="100">
    </div>
    <div class="d-flex flex-column overflow-auto m-125 mb-0 mx-0 w-100 p-0">
      <div class="flex-grow-1 w-100">
        <div *ngFor="let item of menuItems" (click)="changeRoute(item.path)" 
            [ngClass]="{ 'bg-active-slid': page?.path === item.path }"
            class="d-flex flex-column align-items-center fs-5 text-print justify-content-center py-3 cursor-pointer hover-element mb-2 slide-element">
          <i class="fa" [ngClass]="item.icon"></i>
          <span class="d-block mt-1">{{ item.label }}</span>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Contenu principal -->
  <div class="width-80 m-0 p-0 d-flex flex-column h-100 ms-auto position-relative content-container">
    <div class="bg-body height-70px border-bottom border-start mb-3 w-100 d-inline-flex align-items-center justify-content-between p-2">
      <span class="fs-4 fw-bold">Menu Admin</span>
      <div class="d-inline-flex align-items-center h-100">
        <div class="mx-2">
          <span class="bg-dark bg-opacity-10 w-h d-flex justify-content-center align-items-center rounded-circle cursor-pointer">
            <i class="fa fa-bell"></i>
          </span>
        </div>
        <div nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomCenter" class="mx-3 d-inline-flex align-items-center fs-6 text-print cursor-pointer text-info-emphasis text-capitalize">
          <span class="w-h-min d-flex justify-content-center align-items-center me-2">
            <i class="fa fa-user"></i>
          </span>
          <span class="me-2 text-capitalize"> {{user.admin.prenom}}</span>
          <span class="text-capitalize"> {{user.admin.nom}}</span>
        </div>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item>
              <span class="text-grey"><i class="fa fa-user-edit me-2"></i>Mettre à jour Mes infos</span>
            </li>
            <li nz-menu-item (click)="logOut()">
              <span class="text-grey"><i class="fa fa-power-off me-2"></i>Déconnecter</span>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>

    <div class="flex-grow-1">
      <router-outlet></router-outlet>
    </div>

    <footer class="w-100 d-flex justify-content-between align-items-end p-2">
      <span class="text-print fs-5">RAKOTONDRASOA RAZANADAHY Andrianiavo</span>
      <span class="text-print fs-5">RANDRIAMIANDRAVOLA Jean Carnot Raharimamy</span>
    </footer>
  </div>
</div>
