<nz-list nzItemLayout="horizontal" *ngIf="loading" class="flex-grow-1" [nzLoading]="loading">
  <nz-list-empty></nz-list-empty>
</nz-list>
<div  *ngIf="!loading" class="w-100 row mx-0 mt-2 p-0">
  <div *ngFor="let categorie of listDetailService" class="col-auto mb-2" (click)="setSelectedCategorie(categorie)">
    <span [ngClass]="exist(categorie) ? 'border-purple-active' : 'border-purple'" class="py-1 px-3 rounded-3 cursor-pointer hover-element d-block">{{categorie.description}}</span>
  </div>
</div>
